.bodyWithNavBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide any content that overflows the container */
}

.studyNavBar {
  position: fixed; /* Fix the position of the navbar */
  width: 250px;
  height: 100%; /* Full height of the parent */
  overflow-y: auto; /* Enable vertical scrolling if the content overflows */
}

.mainContent {
  flex-grow: 1;
  height: 100%; /* Full height of the parent */
  overflow-y: auto;
}