/* Checkbox.module.css */
.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.checkboxLabel {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    cursor: pointer;
    color: #001947;
}

.childCheckbox {
    padding-left: 20px;
}

.checkboxRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.iconContainer {
    align-self: center;
    margin-right: 5px;
    /* Adjust this value to your liking */
    cursor: pointer;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectAll {
    font-size: 0.8em;
    /* Adjust as needed */
    text-decoration: none;
    color: #000;
    /* Add a color to override the default link color */
}

.container {
    border-radius: 5px;
    margin-bottom: 20px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
    margin-right: 10px;
    display: flex;
    /* Add this */
    flex-direction: column;
    /* Add this */
}

.title {
    margin-bottom: 5px;
    color: #506B72;
    font-weight: 600;
    font-size: 14px;
    background-color: #E2F0FD;
    border-radius: 5px;
    padding: 5px 10px;
    /* Remove position, top, left, and right */
}

.checkboxGroup {
    /* Remove margin-top */
    padding: 10px 20px ;
    

}

.myNodeEnter {
    opacity: 0;
}

.myNodeEnterActive {
    opacity: 1;
    transition: opacity 300ms;
}

.myNodeExit {
    opacity: 1;
}

.myNodeExitActive {
    opacity: 0;
    transition: opacity 300ms;
}

.filterTable{
    border-spacing: 0;
    table-layout: fixed;
font-size: 12px;
}

.filterTable tr {
    border-bottom: 1px solid #E0E0E0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filterTable th{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: bottom;
    border-bottom: 1px solid #E0E0E0;
    background-color: #F9FAFB;
    font-weight: 500;
    
}



.tableRow {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tableRow td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #E0E0E0;
    border-spacing: 0;

}