.mainPanelContainer {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid #73B8F7;
    background: #FFF;
    width: 227px;
}



.subTopicName {
    display: flex;
    width: 197px;
    height: 50px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: #73B8F7;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.completionText {
    color: #716E6E;
    text-align: start;
    font-size: 12px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: normal;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.completionSection {
    display: flex;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.showHideText {
    color: #716E6E;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.showHideContainerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.lessonListItem {
    color: #716E6E;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lessonList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background: #F7F7F7;


}




.showHideContainer {
    display: flex;
    padding: 7px 10px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    background: #F7F7F7;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.scorePanel {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.startButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #73B8F7;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}