.qbankmain {
    display: flex;
    justify-content: space-between;
}

.qbankmain > * {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.qbankmain > :nth-child(1) {
    flex: 2;
    border-right: 1px solid #ddd;
}

.qbankmain > :nth-child(2) {
    flex: 3;
    border-right: 1px solid #ddd;
}

.qbankmain > :nth-child(3) {
    flex: 1;
}