.standardButton {
    font-family: Inter, sans-serif;
    justify-content: center;
    border-radius: 10px;
    background-color: #1387F2;
    color: #fff;
    white-space: nowrap;
    padding:6px 15px;
    font-size: 14px;
    font-weight: 600;

    width: fit-content;
    cursor: pointer;
}

.standardButton:hover {
    background: #1387F2;
}

.secondaryButton {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;

}

.numberChoiceButtonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.numberChoiceButtonArea {
    display: flex;
    align-items: flex-end;
}

.numberChoiceHeaderText {
    display: flex;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #506B72;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.numberChoiceButton {
    display: flex;
    height: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    background: #E2F0FD;
    color: #506B72;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.numberChoiceButton:hover {
    background: rgba(19, 135, 242, 0.58);
    color: white;
}

.numberChoiceButton.active {
    background: rgba(19, 135, 242, 0.58);
    color: white;
}

.numberChoiceButton.firstElementVariant {
    border-radius: 10px 0px 0px 10px;
}

.numberChoiceButton.lastElementVariant {
    border-radius: 0px 10px 10px 0px;
}

.navNumberButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid #73B8F7;
    color: #73B8F7;
    cursor: pointer;
}

.navNumberButton:hover {
    background-color: #73B8F7;
    color: white;
}

.navNumberButtonActive {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #73B8F7;
    color: white;
    border: 1px solid #73B8F7;
    cursor: pointer;
    font-weight: 700;
}

.upgradeButton {
    display: flex;
    padding: 7px 15px;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    gap: 5px;
    border-radius: 10px;
    border: 1px solid #1387F2;
    background: #E2F0FD;
    align-content: center;
    cursor: pointer;
}

.upgradeText{
    color: #1387F2;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

