.selectorHeader{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--color5)

}

.scoreChartDiv {
  
    margin: auto;
    width: 70%;
    margin-top: 40px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.switchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
