.resumeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F7FA6C;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

.overallDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    justify-content: center;
}

.internalDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.rightDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 500px;

}