.link {
    color: var(--primary-color); /* Change this to the color you want for the links */
    text-decoration: underline; /* Removes the underline */
    padding: 5px;
}

.link:hover {
    color: var(--secondary-color); /* Change this to the color you want when hovering over the links */
    text-decoration: underline; /* Adds an underline when hovering over the link */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the link */
}

.title {
    font-size: 2em; /* Adjust as needed */
    color: white;
    background-color: var(--primary-color); /* Adjust as needed */
    padding: 20px 5px;
}