.dashboardTile {


    /* width: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #F1F8FF;
    height: 70px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.subTile {
    border: 1px solid #EDF1F2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: white;

}

.subTileLabel {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    color: #001947;

}



.subTileContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.chartCardTiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.chartTitle {
    font-size: 13px;
    text-align: center;
    font-weight: 600;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1387F2;
    color: white;
    min-height: 50px;
    border-radius: 5px 5px 0 0;
}

.dashText {
    color: #506B72;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
}



.rowContainer {
    display: flex;
    justify-items: start;
    align-items: center;
    height: fit-content;

}

.topicTable {
    border-collapse: collapse;
    margin: 20px auto;
    /* Auto margins for horizontal centering */
}

.topicTable th {
    font-size: 14px;

    text-align: center;
    background-color: #E2F0FD;
    color: #001947;
    padding: 8px;

}

.topicTable th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
}

.topicTable th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.topicTable td {
    vertical-align: middle;
    text-align: center;

    border-top: 1px solid #ddd;
    padding: 5px;
    font-size: 13px;
}

.topicTable td:first-child {
    text-align: left;

}

.topicTable tr:first-child td {
    border-top: none;
}

.cellContent {
    border-radius: 3px;
}

.topicTable td:not(:first-child),
.topicTable th:not(:first-child) {
    width: 150px;
    /* or any width you want */
}

.buttonGroupContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.emphasisText1 {
    color: #56D819;
    font-size: 18px;
    font-weight: 600;
}

.emphasisText2 {
    color: #1387F2;
    font-size: 18px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}

.title {
    color: #1387F2;
    font-size: 12px;
    font-weight: 700;
}


.columnContainer {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    justify-content: space-between;
    height: 150px;
    width: 150px;
}

.firstCol {
    text-align: center;
    color: #001947;
    width: 120px;
    text-align: left;

}

.secondCol {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #001947;
    width: 150px;
}

.containerContents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    justify-content: space-between;

}

.topPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F3F9FF;
    padding: 10px 20%;
    border-radius: 10px;
}

.bigText {
    color: #506B72;
    font-size: 40px;
    font-weight: 600;
}

.smallText {
    color: #506B72;
    font-size: 14px;
    font-weight: 600;
}

.titleText {
    color: #506B72;
    font-size: 18px;
    font-weight: 600;
}

.tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subTopPanel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.usedLabel {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 92px;
    background: #73B8F7;
    color: white;
    font-size: 13px;
}

.correctLabel {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 92px;
    background: #085296;
    color: white;
    font-size: 13px;

}

.usedLabelNorm {
    display: flex;
    padding: 1px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 92px;
    background: #73B8F7;
    color: white;
    font-size: 12px;
}

.correctLabelNorm {
    display: flex;
    padding: 1px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 92px;
    background: #085296;
    color: white;
    font-size: 12px;
}

.statPanel {
    display: flex;
    width: 100%;
    padding: 5px 15px;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    background: #F3F9FF;
}

.topicLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    flex: 1 0 0;
    color: #506B72;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.topicLabelNorm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;
    flex: 1 0 0;
    color: #506B72;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.topicPanel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.halfPanel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.subTopicPanel {
    display: flex;
    flex-direction: row;
    gap: 20%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.legend{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
    width: 100%;
    border-radius: 10px;
}

.progressWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #506B72;
    font-size: 20px;
    font-weight: 600;
}