.chartContainer{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.progressBar progress {
    /* Change the height to make the progress bar thicker */
    height: 20px;
    width: 100px;
}