.pageHeader{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--color5)

}



.pageContent {
    display: flex;
    justify-content: space-between;
    
}

.LHS {
    width: 95%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.RHS {
    margin-top: 20px;
    
}

.rowContainer{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    width: 90%;
}