.siteNavBar {
    display: flex;
    padding: 20px 50px 20px 20px;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid #EDF1F2;
    background: #FFF;
}

.siteNavBarLinks {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

.regularLink {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sideNavBar{
    display: flex;
width: 149px;
padding: 40px 5px;
flex-direction: column;
align-items: center;
gap: 10px;
flex-shrink: 0;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sideNavBarLinks{
    display: flex;
height: 112px;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}

.regularSideLink{
    display: inline-flex;
    align-items: flex-start;
align-self: stretch;
border-radius: 10px;
color: #085296;
text-align: center;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
cursor: pointer;
}

.regularSideLink:hover{
    border-radius: 10px;
background: #1387F2;
color: white;
}

.regularSideLink2{
    display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 3px;
}