.selectionBar {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 25px;
    border-bottom: 1px solid #DADADA;
}

.tab {
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-size: 15px;
    color: #6F7070;
    cursor: pointer;
}

.active {
    font-weight: 700;
    border-bottom: 3px solid #1387F2;
}

.inactive {}