.expander{
  margin-left: 10px;
  cursor: pointer;
}

.subCheckbox {
  margin-left: 20px; /* Adjust as needed */
}

.checkboxMargin {
  margin-bottom: 10px; /* Adjust as needed */
}

.subCheckbox:first-child {
  margin-top: 10px; /* Adjust as needed */
}